.HeaderBar {
    min-width: 1200px;
}

.TopBar_pic {
    /*margin: 0 auto;*/
    position: absolute;
    width: 1000px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.TopBar {
    width: 100%;
    position: relative;
    height: 70px;
    background-color: #bd0000;
}

.App_Bar {
    position: relative;
    width: 100%;
    height: 70px;
}

.AppContainer {
    max-width: 1300px;
    min-width: 864px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

.AppBox {
    height: 70px;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}

.yk_logo {
    position: absolute;
    margin: 16px 20px 0 0;
    width: 132px;
    height: 42px;
}

.SearchContainer {
    position: absolute;
    width: 33%;
    height: 40px;
    margin: 16px auto;
    left: 50%;
    text-align: left;
    transform: translateX(-50%);
}

.SearchBox {
    width: 100%;
}

#headq {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 8px 12px 8px 18px;
    outline: 0 none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 24px;
    background: rgba(247, 239, 239, 0.7);
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 80;
}

#headb {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 0;
    right: -1px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    outline: none;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #24a4ffa2;
}

.Data {
    background-color: rgba(255, 255, 255, 0.596);
    margin: 0 4% 0 4%;
    width: 92%;
    max-height: 200px;
    font-size: 16px;
}

.List {
    margin: 8px 0 8px 0;
}

li.List:hover {
    background: rgba(175, 175, 175, 0.322);
}

.UserCenter {
    float: right;
    height: 70px;
    margin: 14px 10px 0 0;
}

.UCpart {
    float: left;
    width: 40px;
    height: 70px;
    text-align: center;
}

.signin {
    float: right;
    width: 40px;
    height: 70px;
    text-align: center;
}

.UCpart:hover .picture {
    background-color: rgba(219, 216, 216, 0.247);
    color: #fff;
}

.MainBar {
    background-color: #000912;
    min-width: 1200px;
    height: 400px;
    margin: -70px auto 0 auto;
    position: relative;
}

.MBcontianer {
    max-width: 1300px;
    min-width: 864px;
    height: 400px;
    margin: 0 auto;
}

.MBbox {
    position: relative;
    height: 100%;
}

.MBback {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 80;
}

.MBback img {
    width: 100%;
    height: 100%;
}

.scollpic {
    width: 100%;
    height: 100%;
}

.MBleft {
    width: 260px;
    height: 100%;
    float: right;
    position: relative;
    margin-right: -250px;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 90;
}

#spc {
    margin-top: 90px;
    width: 100%;
    min-height: 280px;
}

.swiperpart {
    color: white;
    width: 245px;
    height: 25px;
    padding-left: 15px;
    font-size: 16px;
}

.swiperpart a {
    color: white;
}


/*.swiperpart:hover {
        background-color: rgba(0, 0, 0, 0.671);
        height: 50px;
        font-size: 24px
    }*/

.GuideBar {
    min-width: 1200px;
    /*background-color: rgb(139, 41, 41);*/
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.GuideContainer {
    /*background-color: rgb(41, 139, 79);*/
    max-width: 1300px;
    min-width: 864px;
    height: 80px;
    margin: 0 auto;
}

.GuideBox {
    font-size: 16px;
    position: relative;
    height: 100%;
}

.GuideLeft {
    height: 100%;
    margin-right: 350px;
    padding-right: 70px;
    /*background-color: #fff*/
}

.GuideRight {
    top: 0;
    right: 0;
    position: absolute;
    width: 350px;
    height: 100%;
    /*background-color: rgb(19, 77, 185);*/
}

.GuideLeft li {
    position: relative;
    float: left;
    height: 100%;
}

.navbig {
    width: 10%;
}

.navsmall {
    text-align: center;
    width: 7.5%;
}

.navbig a {
    width: 75px;
    margin: 2px 0;
    display: block;
    padding-bottom: 16px;
}

.navsmall a {
    width: 32px;
    margin: 9.5px 0;
    display: block;
    padding-bottom: 16px;
}

.cutline {
    background-color: #fff;
    width: 7%;
}

.cutline::after {
    position: absolute;
    height: 80%;
    width: 4px;
    background-color: #f3f3f3;
    content: "";
    display: block;
    top: 60%;
    left: 45%;
    transform: translate(-55%, -55%);
}

.right1 {
    margin: 0 0 0 100px;
    width: 70px;
    height: 80px;
    float: left;
    color: #666;
    padding-bottom: 0;
    text-align: center;
}

.right2 {
    margin: 0;
    width: 70px;
    height: 80px;
    float: right;
    color: #666;
    padding-bottom: 0;
    text-align: center;
}

.grpic {
    display: block;
    width: 46px;
    height: 46px;
    margin: 10px auto 0 auto;
    border-radius: 50%;
    transition-property: margin;
    transition-duration: 0.5s;
}

.right1:hover .grpic {
    margin: 5px auto 5px auto;
}

.right2:hover .grpic {
    margin: 5px auto 5px auto;
}